<app-spinner [loading]="this.loading"></app-spinner>
<div class="row row-cols-1 row-cols-md-3 g-4" [hidden]="loading">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Total de usuarios</h5>
        <p class="card-text">
          {{this.total}}
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Usuarios activos</h5>
        <p class="card-text">{{this.active}}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Usuarios bloqueados</h5>
        <p class="card-text">
            {{this.locked}}
        </p>
      </div>
    </div>
  </div>
</div>
